body{
    background-color: rgb(0, 0, 0);
    
}

.bio-body{
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-style:sans-serif;
    width:550px;

}
.title{
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: sans-serif;
    
    color:white;
}


.bio-bottom{
 
    
}
.bio{
    color:white;
    
    margin:10px;

}

.portrait{
    margin:10px;
    float:left;
    border:3px solid rgb(251, 223, 9);
    
}

.back-button,button{
    width:100%;
    height: 60px;
    background-color: rgb(66, 155, 218);
    border:none;
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
}

button:hover {
   
    box-shadow: 0 3px 15px rgba(16, 162, 247, 0.4);
  }
  