*{
 
    margin:0;
    background-color: rgb(0, 0, 0);
    
  
    
  }
  
  Body{
    height: 100vh;
  }
  .container{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }
  
  h1{
    background-image: url(https://media.giphy.com/media/13qcSquK4O7NXa/giphy.gif);
    
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 110px;
    margin: 10px 0;
  }
  button{
   
    width: 100px;
    height:100px;
  
    border:none;
  
  }
  .opt1{
    position: relative;
    top:10%;
    left:20%;
  
    height: 100px;
    width: 100px;
    background-color:rgb(0, 0, 0);
    
  }
 

  .opt2{
    position: relative;
    top:60%;
    left:13%;
    
    height: 100px;
    width: 100px;
    background-color:rgb(0, 0, 0);
  }
  
  .opt3{
    position: relative;
    top:20%;
    left:83%;
  
    height: 100px;
    width: 100px;
    background-color:rgb(17, 83, 140);
  }
  
  .opt4{
    position: relative;
    top:45%;
    left:43%;
    
    height: 100px;
    width: 100px;
    background-color:rgb(17, 83, 140);
  }
  
  .opt5{
    position: relative;
    top:-35%;
    left:63%;
  
    height: 100px;
    width: 100px;
    background-color:rgb(17, 83, 140);
  }
  
  .enlarge{
    transition: transform .9s;
}


.enlarge:hover{
    transform: scale(1.5);
}