body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin:0;
}

.container{
    display:flex;
   
    position: fixed;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:250px;
}

.option-1{
    margin-right:10px;
}

.hidden1{
    margin:0;
    padding:0;
    color:rgb(0, 0, 0);
    display: flex;
    background-color: rgb(200, 252, 245);
    width:800px;
    height:300px;
    margin-top: 5%;
    font-size: 25px;
    font-family: sans-serif;
  
    
}
h2{
    font-size: 20px;
    padding-left: 25px;
}
h3{
    font-size: 18px;
    padding-left: 25px;
}
.text-title{
    color: black;
    
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 3px solid black;
   
}

.option-2{
    
    margin: 10px;
}

.option-3{
    
    margin: 10px;
}

.option-4{
    
    margin: 10px;
}

.back-bttn,h1{
    position: absolute;
    bottom: 50;
    float: left;
    margin-left: -90%;
    color:white;
    text-decoration: none;
  
  
  
}

.enlarge{
    transition: transform .5s;
}


.enlarge:hover{
    transform: scale(1.2);
}